@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar{
	width: 0;
}
body{
	background-image: url(img/wall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(0, 0, 30);
}
main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.section{
	border: 3px dashed rgba(255, 255, 255, .5);
	width: 950px;
	height: 450px;
	padding: 50px;
	overflow: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.links{
	font-family: 'Roboto Slab', serif;
	color: rgba(255, 255, 255, .6);
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 600;
	width: 23%;
	height: 120px;
	border: 2px solid rgba(255, 255, 255, .5);
	margin: 5px;
	transition: .2s linear;
	overflow: hidden;
}
.links:hover{
	border: 2px solid rgba(255, 255, 255, .8);
	color: rgba(255, 255, 255, .8);
	background-color: rgba(0, 0, 0, .3);
	font-size: 33px;
}